//! GLOBAL RESET
*,
*::before,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; // sets 1rem to 10px
	scroll-behavior: smooth;
	background-color: $color-black;
}

body {
	box-sizing: border-box;
	min-height: 100vh;
}

::selection {
	background-color: $color-primary-1;
	color: $color-white;
}
